@import url(reset.css);

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 80%;
    height: 100vh;
}

.app-title {
    font-size: 2.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 0.8em;
}

.centered-text {
    text-align: center;
    padding: 0.5em;
}

.list {
    list-style: none;
    padding: 1.2em;
    overflow: auto;
    max-height: 30em;
    margin-top: 25px;
}

.list li {
    padding: 0.8em;
    font-size: 1.5em;
    display: flex;
}
